
// ABOUT
.img_container{
    max-width:100%;
    #foto-s2i{
        max-width: 25rem;
    }
}
.bio_container{
    max-width: 80%;
    margin: auto;
    #bio{
        list-style: none;
        text-align: left;
    }
}
span{
    font-size: 3rem;
}

@media (max-width: 1150px){
    #about{
        .container-fluid{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .bio_container{
                min-width: 80% !important;
                margin: auto !important;
                #bio {
                    width: 100% !important; 
                }
            }
            .img_container{
                // max-width: 100% !important;
                #foto-s2i{
                    max-width: 50% !important;
                }
            }
        }
    }
    }
    
    @media (max-width: 992px){
        #about{
            padding: 0 !important;
            .bio_container{
                max-width: 90%;
                margin: auto;
            }
        }
    }

    @media (max-width:768px){
    
        #about{
      
            .bio_container{
                width: 100%;
                margin: 0 !important;
                padding: 0 !important;
                #bio {
                width: 100% !important; 
                max-width: 100%;
                padding: 0;
                margin: 0;
                }
            }
            .img_container{
                max-width: 100% !important;
                #foto-s2i{
                max-width: 30% !important;
                margin: auto; 
                }
            }
        }
        
    }