// HOME
#home{
    height: 100vh;
    .input {
        color: white;
        font-size: 4rem;
        font-weight: 600;
        em{
            font-style: normal;
            color: green;
        }
        span{
            color: red;
            font-size: 4rem;
        font-weight: 600;
        }
        strong{
            font-style: normal;
            font-weight: 600;
            color: var(--bs-primary);
        }
    }
    .mani_container{
            height: 15rem;
        #mani{
            position: relative;
            max-width: 25rem !important;
            margin-left: auto;
        }
    }
}

@media (max-width: 992px){

    #home{
        h1{
            margin-top: 6rem;
            font-size: 3rem;
        }
        #mani{
            display: none;
        }
    }
}

@media (max-width:768px){
    #home{
        justify-content: center !important;
            .input_container{
            padding: 0 !important;
            margin: 0 !important;
            padding-left: 1rem !important;
            }
            .mani_container{
            display: none;
            position: absolute;
            }
    }
}

@media(max-width:480px){
    
    #home{
        justify-content: center !important;
        .input_container{
            padding: 0 !important;
            margin: 0 !important;
            padding-left: 1rem !important;
            padding-bottom: 2rem !important;
            
            .input{
                font-size: 2.5rem;
                em{
                    font-size: 2.5rem;
                }
                span{
                    font-size: 2.5rem;
                }
                strong{
                    font-size: 2.5rem;
                }
            }
        }
        .mani_container{
            display: none;
            position: absolute;
        }
    }
}