
// Navbar
nav{
    background-color: transparent;
}
nav .container-fluid{
    width: 80%;
    margin: auto;
    .nav-link{
        text-transform: uppercase;
        transition: 0.3s;
        &:hover{
            opacity: 0.6;
        }
    }
    .navbar-brand{
        font-weight: 700;
        font-size: 2rem;
        transition: 0.3s;
        &:hover{
            opacity: 0.6;
        }
    }
    .navbar-toggler{
        border: none;
        box-shadow: none;
        font-size: 2rem;
        i:hover{
            color: $color-2;
        }
    }
        .dropdown-item{
            font-size: 3rem;
            margin: 0;
            text-align: center;
        }
    
}

// Navbar Scroll Animation
.navbar-custom {
    // backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.85);
    transition: background 0.5s;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
// Scrollspy
.nav-link{
    color: $color-2 !important;
}
.nav-link.active{
    color: $color-3 !important;
}

// dropdown menu 
.dropdown-menu{
    background-color: transparent;
    border: none;
    .dropdown-item{
        text-align: left;
        opacity: 0.8;
        &:hover{
            background-color: transparent;
            opacity: 1;
            // transform: scale(1.5);
            // transition: 0.3s ease-in-out;
            // text-decoration: underline;
            // color: var(--bs-warning);
        }
    }
    .dropdown-item::after {
        content: '';
        width: 0%;
        height: 2px;
        background: $color-3;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .dropdown-item:hover::after {
        width: 40%;
    }
}
// Media Queries

@media (max-width: 992px){
    nav .container-fluid{
        width: 95%;
        margin: auto;
        .navbar-brand{
            font-size: 1.5rem;
        }
        .navbar-nav{
            width: 100%;
            text-align: center;
            .dropdown-menu{
                border: none;
                width: 100px;
                margin: auto;
                background-color: transparent;
                .dropdown-item{
                    width: 100%;
                    margin:auto;
                    text-align: center;
                    &:hover{
                        background-color: transparent;
                        // transform: scale(1.5);
                        // transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}