
// PROJECTS
#projects{
   
    .mcb_container{
        max-width: 100%;
    }   
    .txt-container{
        max-width: 100%;
        justify-content: space-evenly !important;
        p{
        max-width: 80%;
        color: gray;
        font-size: 1rem;
        }
    }
    .btn_container{
        margin: none;
        padding: none !important;
        a{
            &:focus{
                outline: 0;
                box-shadow: none;
            }
        }
    }
}


@media (max-width: 992px){
   #projects{
       .container-fluid{
           flex-direction: column !important;
           align-items: center;
           justify-content: center;
           max-width: 100%;
       .mcb-container{
           padding: 0 !important;
           max-width: 100%;
       }
       .txt-container{
           justify-content: center;
           align-items: center;
           text-align: center;
           padding: 0 !important;
           max-width: 100%;
           
           h3{
               text-align: center !important;
               margin: auto;
               padding: 1.5rem 0;
           }
           p{
            max-width: 100%;
            margin: auto;
            color: gray;
            font-size: 1rem;
        }
       }
    }
   }
}

@media (max-width:768px){
    #projects{
        .container-fluid{
        .mcb-container{
            max-width: 100%;
            margin: auto;
            padding: 0 !important;
            justify-content:center;
            align-items: center !important;
            }
            #laptop{
            max-width: 100%;
            }
            .txt-container{
            align-items: center;
            text-align: center;
            padding: 0 !important;
            }
        }
    }
}

@media (max-width:480px){
    #projects{
        .container{
            padding: 0 !important;
        }
        .container-fluid{
            padding: 5% !important;
            .mcb-container{
                max-width: 100%;
                margin: auto;
            }
            #laptop{
                max-width: 100%;
            }
        }
    }

}