@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import './navbar';
@import './home';
@import './projects';
@import './about';
@import './skills';
@import './footer';
@import './contact';
@import './footer';
// General
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    max-width: 100% ;
    background: black;
    overflow-x: hidden;
}
.btn{
    padding: 12px 30px;
    border-radius: 30px;
    outline: none;
    font-size: 1rem;
    text-decoration: none;
    &:hover{
        color: white;
    }
}

.section-title{
    color:rgba(128, 128, 128, 0.7);
}

#home{
    position: relative;
    background-color: black;
    height: 100vh;
    h1{
        font-size: 5rem;
        opacity: 1;
        color: white;
    }
}
#projects{
    background-color: white;
}
#about{
    background-color: black;
    color: white;
    .text-uppercase{
        color: white;
    }
}
#skills{
    background-color: black;
    color: white;
    .text-uppercase{
        color: white;
    }
}
#contact{
    background-color: white;
}



